apiVersion: v1
kind: Service
metadata:
  name: {{ include "llm-proxy.fullname" . }}
  labels:
    {{- include "llm-proxy.labels" . | nindent 4 }}
  {{- if or .Values.service.annotations (and .Values.metrics.enabled .Values.metrics.annotations) }}
  annotations:
    {{- with .Values.service.annotations }}
    {{- toYaml . | nindent 4 }}
    {{- end }}
    {{- if and .Values.metrics.enabled .Values.metrics.annotations }}
    {{- with .Values.metrics.annotations }}
    {{- toYaml . | nindent 4 }}
    {{- end }}
    {{- end }}
  {{- end }}
spec:
  type: {{ .Values.service.type }}
  ports:
    - port: {{ .Values.service.port }}
      targetPort: http
      protocol: TCP
      name: http
  selector:
    {{- include "llm-proxy.selectorLabels" . | nindent 4 }}
