apiVersion: v1
kind: Service
metadata:
  name: {{ include "llm-proxy.fullname" . }}
  labels:
    {{- include "llm-proxy.labels" . | nindent 4 }}
  {{- if gt (len .Values.service.annotations) 0 }}
  annotations:
    {{- toYaml .Values.service.annotations | nindent 4 }}
  {{- end }}
spec:
  type: {{ .Values.service.type }}
  ports:
    - port: {{ .Values.service.port }}
      targetPort: http
      protocol: TCP
      name: http
  selector:
    {{- include "llm-proxy.selectorLabels" . | nindent 4 }}
